@model SoccerManager.Models.Match

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stadium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stadium)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTeamScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeTeamScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestTeamScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestTeamScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Competition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Competition.CompetitionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestTeam.FoundedPosition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeTeam.FoundedPosition)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MatchID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
