@{
	ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_Main_Layout.cshtml";
	List<Match> matches = ViewBag.Matches;
	List<Match> EarlierMatches = matches.Where(match => match.EndTime <= DateTime.Now).ToList();
	int selectedEarlierMatch = EarlierMatches[0].MatchId;

	List<Match> UpcomingMatches = matches.Where(match => match.StartTime > DateTime.Now).ToList();

	List<Player> Top10Players = ViewBag.Top10Players;

	List<News> AllNews = ViewBag.News;

	//List<Cart> Carts = ViewBag.Carts;
}
<div class="tg-sliderbox">
			<div class="tg-imglayer">
				<img src="images/bg-pattran.png" alt="image desctription">
			</div>
			<div id="tg-home-slider" class="tg-home-slider tg-haslayout">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="container">
							<figure class="floating">
								<img src="images/slider/img-01.png" alt="image description">
							</figure>
							<div class="tg-slider-content">
								<h1>alive and <span>kickin</span></h1>
								<div class="tg-btnbox">
									<h2>from june 27</h2>
									<a class="tg-btn" href="#"><span>read more</span></a>
									<a class="tg-btn" href="#"><span>book my ticket</span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="container">
							<figure class="floating">
								<img src="images/slider/img-01.png" alt="image description">
							</figure>
							<div class="tg-slider-content">
								<h1>alive and <span>kickin</span></h1>
								<div class="tg-btnbox">
									<h2>from june 27</h2>
									<a class="tg-btn" href="#"><span>read more</span></a>
									<a class="tg-btn" href="#"><span>book my ticket</span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="container">
							<figure class="floating">
								<img src="images/slider/img-01.png" alt="image description">
							</figure>
							<div class="tg-slider-content">
								<h1>alive and <span>kickin</span></h1>
								<div class="tg-btnbox">
									<h2>from june 27</h2>
									<a class="tg-btn" href="#"><span>read more</span></a>
									<a class="tg-btn" href="#"><span>book my ticket</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tg-btn-next">
					<span>next</span>
					<span class="fa fa-angle-down"></span>
				</div>
				<div class="tg-btn-prev">
					<span>prev</span>
					<span class="fa fa-angle-down"></span>
				</div>
			</div>
		</div>
        

	<main id="tg-main" class="tg-main tg-haslayout">
		<section class="tg-main-section tg-haslayout">
			<div class="container">
				<div class="tg-section-name">
					<h2>About soccer</h2>
				</div>
				<div class="col-sm-11 col-xs-11 pull-right">
					<div class="row">
						<div class="tg-aboutussection">
							<div class="row">
								<div class="col-md-6 col-sm-12 col-xs-12">
									<figure>
									<img src="https://images.unsplash.com/photo-1551958219-acbc608c6377?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80" />
									</figure>
								</div>
								<div class="col-md-6 col-sm-12 col-xs-12">
									<div class="tg-contentbox">
										<div class="tg-section-heading"><h2>Everything about football</h2></div>
										<div class="tg-description">
											<p>Football is the world’s most popular ball game in numbers of participants and spectators. Simple in its principal rules and essential equipment, the sport can be played almost anywhere.	</p>
										</div>
										<div class="tg-btnbox">
											<a class="tg-btn" asp-area="" asp-controller="AboutSoccer" asp-action="Index"><span>read more</span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class=" tg-haslayout tg-bgstyleone">
			<div class="tg-bgboxone"></div>
			<div class="tg-bgboxtwo"></div>
			<a  asp-area="" asp-controller="Products" asp-action="Shopping">
				<div class="tg-bgpattrant" style="background:url(https://cdn.tuoitre.vn/thumb_w/730/471584752817336320/2023/6/12/att00005aaa-read-only-16865363467171345937081.jpg); height: 550px;">
			</div>
			</a>
			
		</section>
		<section class="tg-main-section tg-haslayout">
			<div class="container">
				<div class="tg-section-name">
					<h2>earlier match</h2>
				</div>
				<div class="col-sm-11 col-xs-11 pull-right">
					<div class="row">
						<div class="tg-latestresult">
							<div class="row">
								<div class="col-md-8 col-sm-12 col-xs-12">
									<div class="tab-content tg-tabscontent">
										@foreach (var item in EarlierMatches)
										{
											string active = "";
											if (item.MatchId == 2)
											{
												active = "active";
											}
											<div role="tabpanel" class="tab-pane @active" id="@item.MatchId">
												<div class="tg-matchresult">
													<div class="tg-box">
														<div class="tg-score">
															<h3>@item.HomeTeamScore - @item.GuestTeamScore</h3>
															<div style="color: white; text-align: center;">
																@item.StartTime
															</div>
														</div>
														<div class="tg-teamscore">
															<strong class="tg-team-logo">
																<a asp-controller="Teams" asp-action="Details" asp-route-id="@item.HomeTeam.TeamId">
																	<img src="@Url.Content("~/images/" + item.HomeTeam.LogoUrl)" alt="@item.HomeTeam.ShortName">
																</a>
															</strong>
															<div class="tg-team-nameplusstatus">
																<h4>
																	<a asp-controller="Teams" asp-action="Details" asp-route-id="@item.HomeTeam.TeamId">
																		@{
																			if (@item.HomeTeamScore > @item.GuestTeamScore)
																			{
																				<span>@item.HomeTeam.ShortName ( Win )</span>
																			}
																			else if (@item.HomeTeamScore < @item.GuestTeamScore)
																			{
																				<span>@item.HomeTeam.ShortName ( Lose )</span>
																			}
																			else
																			{
																				<span>@item.HomeTeam.ShortName ( Tie )</span>
																			}
																		}
																	</a>
																</h4>
															</div>
															<ul class="tg-playernameplusgoadtime">
																@{
																	if (@item.HomeTeam.Player.Count > 0)
																	{
																		<li>@item.HomeTeam.Player.ElementAt(0).FullName</li>
																	}
																	else
																	{
																		<li>Player Not Found</li>
																	}
																}
															</ul>
														</div>
														<div class="tg-teamscore">
															<strong class="tg-team-logo">
																<a asp-controller="Teams" asp-action="Details" asp-route-id="@item.GuestTeam.TeamId">
																	<img src="@Url.Content("~/images/" + @item.GuestTeam.LogoUrl)" alt="@item.GuestTeam.ShortName">
																</a>
															</strong>
															<div class="tg-team-nameplusstatus">
																<h4>
																	<a asp-controller="Teams" asp-action="Details" asp-route-id="@item.GuestTeam.TeamId">
																		@{
																			if (@item.GuestTeamScore > @item.HomeTeamScore)
																			{
																				<span>@item.GuestTeam.ShortName ( Win )</span>
																			}
																			else if (@item.GuestTeamScore < @item.HomeTeamScore)
																			{
																				<span>@item.GuestTeam.ShortName ( Lose )</span>
																			}
																			else
																			{
																				<span>@item.GuestTeam.ShortName ( Tie )</span>
																			}
																		}
																	</a>
																</h4>
															</div>
															<ul class="tg-playernameplusgoadtime">
																@{
																	if (@item.GuestTeam.Player.Count > 0)
																	{
																		<li>@item.GuestTeam.Player.ElementAt(0).FullName</li>
																	}
																	else
																	{
																		<li>Player Not Found</li>
																	}
																}
															</ul>
														</div>
													</div>
												</div>
											</div>
										}
										</div>
								</div>
								<div class="col-md-4 col-sm-12 col-xs-12">
									<div id="tg-matchscrollbar" class="tg-matchscrollbar tg-allmatchstatus">
										<ul class="tg-matchtabnav" role="tablist">
											@foreach (var item in EarlierMatches)
											{
												string active = "";
												if (selectedEarlierMatch == item.MatchId)
												{
													active = "active";
												}
												selectedEarlierMatch = item.MatchId;

												<li role="presentation" class="@active">

													<a href="#@item.MatchId" aria-controls="@item.MatchName" role="tab" data-toggle="tab">
														<div class="tg-match">
															<div class="tg-box">
																<strong class="tg-teamlogo">
																	<img src="@Url.Content("~/images/" + @item.HomeTeam.LogoUrl)" alt="@item.HomeTeam.ShortName">
																</strong>
																@{
																	if (@item.HomeTeamScore > @item.GuestTeamScore)
																	{
																		<h4>win</h4>
																	}
																	else if (@item.HomeTeamScore < @item.GuestTeamScore)
																	{
																		<h4>lose</h4>
																	}
																	else
																	{
																		<h4>tie</h4>
																	}
																}
																
															</div>
															<div class="tg-box">
																<h3>@item.HomeTeamScore - @item.GuestTeamScore</h3>
																<h3>@item.StartTime</h3>
															</div>
															<div class="tg-box">
																<strong class="tg-teamlogo">
																	<img src="@Url.Content("~/images/" + @item.GuestTeam.LogoUrl)" alt="@item.GuestTeam.ShortName">
																</strong>
																@{
																	if (@item.GuestTeamScore > @item.HomeTeamScore)
																	{
																		<h4>win</h4>
																	}
																	else if (@item.GuestTeamScore < @item.HomeTeamScore)
																	{
																		<h4>lose</h4>
																	}
																	else
																	{
																		<h4>tie</h4>
																	}
																}
																
															</div>
														</div>
													</a>
												</li>
											}
											</ul>
									</div>
									<div class="tg-btnbox">
										<a class="tg-btn" class="tg-btn" asp-area="" asp-controller="Matches" asp-action="EarlierMatch">view all</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="tg-bgdark tg-haslayout " style="display: flex; flex-direction: row; justify-content: flex-start; width: 100%;">

			<div style="background:url(https://static-images.vnncdn.net/files/publish/2022/10/28/world-cup-2022-47.jpg) no-repeat;background-size: cover; height: 580px; width: 100%;">
			</div>
			@*<div style="background:url(images/shop/mu_kit.png) no-repeat;background-size: cover; height: 580px;width: 100%;">
			</div>
			<div style="background:url(images/shop/psg_kit.png) no-repeat;background-size: cover; height: 580px;width: 100%;">
			</div>
			<div style="background:url(images/shop/aston_kit.png) no-repeat;background-size: cover; height: 580px;width: 100%;">
			</div>*@
		</section>
		<section class="tg-main-section tg-haslayout">
			<div class="container">
				<div class="tg-section-name">
					<h2>upcoming match</h2>
				</div>
				<div class="col-sm-11 col-xs-11 pull-right">
					<div class="row">
						<div class="tg-latestresult">
							<div class="row">
								<div class="col-md-5 col-sm-12 col-xs-12">
									<div class="tg-contentbox">
										<div class="tg-section-heading"><h2>NOTABLE MATCHES TO WATCH</h2></div>
										<div class="tg-description" style="text-align: justify;">
											<p>Get ready for an exhilarating lineup of football showdowns that are set to ignite the pitch in the coming weeks. As the anticipation builds, fans around the world are eagerly gearing up to witness the clash of titans, tactical brilliance, and the sheer passion that only football can deliver. </p>
										</div>
										<div class="tg-btnbox">
											<a class="tg-btn" asp-area="" asp-controller="Matches" asp-action="EarlierMatch"><span>view all</span></a>
										</div>
									</div>
								</div>
								<div class="col-md-7 col-sm-12 col-xs-12">
									<div id="tg-upcomingmatch-slider" class="tg-upcomingmatch-slider tg-upcomingmatch">
										<div class="swiper-wrapper">
											@foreach (Match item in UpcomingMatches)
											{
												<div class="swiper-slide">
													<div class="tg-match">
														<div class="tg-matchdetail">
															<div class="tg-box">
																<strong class="tg-teamlogo">
																	<img src="@Url.Content("~/images/" + @item.HomeTeam.LogoUrl)" alt="@item.HomeTeam.ShortName">
																</strong>
																<h3>@item.HomeTeam.ShortName</h3>
															</div>
															<div class="tg-box">
																<h3>vs</h3>
															</div>
															<div class="tg-box">
																<strong class="tg-teamlogo">
																	<img src="@Url.Content("~/images/" + @item.GuestTeam.LogoUrl)" alt="@item.GuestTeam.ShortName">
																</strong>
																<h3>@item.GuestTeam.ShortName</h3>
															</div>
														</div>
														<div class="tg-matchhover">
															<address>@item.StartTime - @item.Stadium</address>
															<div class="tg-btnbox">
																<a class="tg-btn" asp-area="" asp-controller="Matches" asp-action="Details" asp-route-id="@item.MatchId"><span>read more</span></a>
															</div>
														</div>
													</div>
												</div>
											}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class=" tg-haslayout tg-bgstyletwo">
			<div class="tg-bgboxone"></div>
			<div class="tg-bgboxtwo"></div>
			<div class="tg-bgpattrant">
				<div class="container">
					<div class="row">
						<div class="tg-pointstablewrapper">
							<div class="col-sm-8 col-xs-12">
								<div class="tg-pointstable">
									<div class="tg-section-heading"><h2>top 10 scorers</h2></div>
									<div id="tg-pointstable-slider" class="tg-pointstable-slider">
										<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="tg-pointtable">
												<div class="tg-box" style="font-weight: bold;">No.</div>
												<div class="tg-box" style="font-weight: bold;">Player</div>
												<div class="tg-box" style="font-weight: bold;">Goals</div>
												<div class="tg-box" style="font-weight: bold;">Team</div>
												<div class="tg-box" style="font-weight: bold;">Average</div>
											</div>
										</div>
											@foreach(Player item in Top10Players)
											{
												<div class="swiper-slide">
													<div class="tg-pointtable">
														<div class="tg-box">@item.Number</div>
														<div class="tg-box">@item.FullName</div>
														<div class="tg-box">@item.Scores</div>
														<div class="tg-box">@item.CurrentTeamNavigation.ShortName</div>
														<div class="tg-box">0.96</div>
													</div>
												</div>
											}
											
										</div>
										<div class="tg-themebtnnext"><span class="fa fa-angle-down"></span></div>
										<div class="tg-themebtnprev"><span class="fa fa-angle-up"></span></div>
									</div>
									<div class="tg-btnbox mb-3">
										<a class="tg-btn" asp-area="" asp-controller="Players" asp-action="Index"><span>view all</span></a>
									</div>
								</div>
							</div>
							<div class="col-sm-4 col-xs-12 hidden-xs">
								<figure>
									@{
										if(Top10Players.ElementAt(0).PlayerImage.Count() > 0)
										{
											<img src="@Url.Content("~/images/" + Top10Players.ElementAt(0).PlayerImage.ElementAt(0).ImageUrl)" alt="image description">
										}
									}
								</figure>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="tg-main-section tg-haslayout">
			<div class="container">
				<div class="tg-section-name">
					<h2>Latest blog / news</h2>
				</div>
				<div class="col-sm-11 col-xs-11 pull-right">
					<div class="row">
						<div class="tg-blogpost">
							<div class="row">
								@foreach (News item in AllNews)
								{
									<div class="col-sm-6 col-xs-12">
										<article class="tg-post">
											<figure class="tg-postimg">
												<a>
													<img src="@Url.Content("~/images/" + @item.ImageUrl)" alt="image description">
												</a>
												<figcaption>
													<ul class="tg-postmetadata">
														<li><a>@item.Employee.FullName</a></li>
													</ul>
												</figcaption>
											</figure>
											<div class="tg-posttitle"><h3><a>@item.Title</a></h3></div>
											<div class="tg-description">
												<p>@item.Summary</p>
											</div>
											<a class="tg-btn" href="ArticlesDetail/@item.NewsId">Read more</a>
										</article>
									</div>
								}
								
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

