@model SoccerManager.Models.Team

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Team detail</h1>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="row">
        <div class="col-8">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nickname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoundedYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoundedYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoundedPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoundedPosition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manager)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd class = "col-sm-10">
                <a href="@Html.DisplayFor(model => model.Website)" target="_blank">@Html.DisplayFor(model => model.Website)</a>
        </dd>
        </div>
        <img class="col-4" src="~/images/@Html.DisplayFor(model => model.LogoURL)" />
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TeamID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
