@model IEnumerable<SoccerManager.Models.Team>

@{
    ViewData["Title"] = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page">
    <!-- Navbar -->
    <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <div class="tg-section-heading">
                            <h2 class="page-title">
                                Team Management
                            </h2>
                            <p>
                                <a asp-action="Create">Create New</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
            <div class="container-xl">
                <div class="card">
                    <div class="card-body">
                        <div id="table-default" class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><button class="table-sort" data-sort="sort-name">Full Name</button></th>
                                        <th><button class="table-sort" data-sort="sort-city">Short Name</button></th>
                                        <th><button class="table-sort" data-sort="sort-type">Nickname</button></th>
                                        <th><button class="table-sort" data-sort="sort-score">Founded Year</button></th>
                                        <th>
                                            <button class="table-sort" data-sort="sort-date">Founded Position</button>
                                        </th>
                                        <th>
                                            <button class="table-sort" data-sort="sort-quantity">@Html.DisplayNameFor(model => model.Owner)</button>
                                        </th>
                                        <th><button class="table-sort" data-sort="sort-status">@Html.DisplayNameFor(model => model.Manager)</button></th>
                                        <th><button class="table-sort" data-sort="sort-status">@Html.DisplayNameFor(model => model.Website)</button></th>
                                        <th>
                                            <button class="table-sort" data-sort="sort-status">Logo</button>
                                        </th>
                                        <th><button class="table-sort">#</button></th>
                                    </tr>
                                </thead>
                                <tbody class="table-tbody">
                                    @foreach (var item in Model)

                                    {
                                        <tr>
                                            <td class="sort-name">@Html.DisplayFor(modelItem => item.FullName)</td>
                                            <td class="sort-city">@Html.DisplayFor(modelItem => item.ShortName)</td>
                                            <td class="sort-type">@Html.DisplayFor(modelItem => item.Nickname)</td>
                                            <td class="sort-score">@Html.DisplayFor(modelItem => item.FoundedYear)</td>
                                            <td class="sort-date">@Html.DisplayFor(modelItem => item.FoundedPosition)</td>
                                            <td class="sort-quantity">@Html.DisplayFor(modelItem => item.Owner)</td>
                                            <td class="sort-quantity">
                                                @Html.DisplayFor(modelItem => item.Manager)
                                            </td>
                                            <td class="sort-quantity">
                                                <a target="_blank" href="@Html.DisplayFor(modelItem => item.Website)">
                                                    @Html.DisplayFor(modelItem =>
                                                item.Website)
                                                </a>
                                            </td>
                                            <td class="sort-name"><img src="@Url.Content("~/images/" + item.LogoUrl)" alt="Image" style="width: 100px"></td>
                                            
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.TeamId"><i
                                                        class="fa fa-edit"></i></a>
                                                <a asp-action="Details" asp-route-id="@item.TeamId"><i
                                                        class="fa fa-info"></i></a>
                                                <a asp-action="Delete" asp-route-id="@item.TeamId">
                                                    <i class="fa fa-remove"></i></a>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th>
                Short Name
            </th>
            <th>
                Nickname
            </th>
            <th>
                Founded Year
            </th>
            <th>
                Founded Position
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                Logo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nickname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoundedYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoundedPosition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager)
                </td>
                <td>
                    <a target="_blank" href="@Html.DisplayFor(modelItem => item.Website)">@Html.DisplayFor(modelItem =>
                    item.Website)</a>
                </td>
                <td>
                    <img src="@Url.Content("~/images/" + item.LogoUrl)" alt="Image" style="width: 100px">
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TeamId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TeamId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TeamId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
