@model IEnumerable<SoccerManager.Models.Products>

@{
    ViewData["Title"] = "Shopping";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
	<main id="tg-main" class="tg-main tg-haslayout">
		<div class="container">
			<div class="row">
				<div id="tg-twocolumns" class="tg-twocolumns tg-main-section tg-haslayout">
					<div class="col-md-9 col-sm-8 col-xs-12 pull-right">

						<div class="tg-shophead">
							<form class="tg-formfilter">
								<fieldset>
									<div class="tg-select">
										<select>
											<option>sort by: All Category</option>
											<option>All Category</option>
											<option>All Category</option>
										</select>
									</div>
									<div class="tg-select">
										<select>
											<option>Show: 9 Items Per Page</option>
											<option>All Category</option>
											<option>All Category</option>
										</select>
									</div>
								</fieldset>
							</form>
						</div>

						<div class="th-products">
							<div class="row">
								@foreach (var item in Model)
								{
									<div class="col-md-4 col-sm-6 col-xs-6">
										<div class="tg-product">
											<figure class="tg-productimg">
												@{
													if (item.ProductImage.Count() > 0)
													{
														<img src="@Url.Content("~/images/ProductImage/" + item.ProductImage.ElementAt(0).ImageURL)" alt="image description" style="width: 300px; height: 300px;">
														//<img src="@Url.Content("~/images/" + item.ProductImage.ElementAt(0).ImageURL)" alt="Image" style="width: 100px">
													} else
													{
														<img src="https://t4.ftcdn.net/jpg/04/73/25/49/360_F_473254957_bxG9yf4ly7OBO5I0O5KABlN930GwaMQz.jpg" alt="image description" style="width: 300px; height: 300px;">
													}
												}
												
												<figcaption>
													<a class="tg-btncart" href="#"><i class="fa fa-shopping-cart"></i></a>
												</figcaption>
											</figure>
											<div class="tg-productinfo">
												<a class="tg-theme-tag" href="#">@Html.DisplayFor(modelItem => item.Category.CategoryName)</a>
												<div class="tg-producttitle"><h2><a href="#">@Html.DisplayFor(modelItem => item.ProductName)</a></h2></div>
												<div class="tg-productprice"><h3>$ @Html.DisplayFor(modelItem => item.Price)</h3></div>
												<span class="tg-stars"><span></span></span>
											</div>
										</div>
									</div>
								}
							</div>
							<ul class="tg-pagination">
								<li class="tg-prevpage"><a href="#"><i class="fa fa-angle-left"></i></a></li>
								<li class="active"><a href="#">4</a></li>
								<li><a href="#">6</a></li>
								<li class="tg-nextpage"><a href="#"><i class="fa fa-angle-right"></i></a></li>
							</ul>
						</div>

					</div>
					<div class="col-md-3 col-sm-4 col-xs-12">
						<aside id="tg-sidebar" class="tg-sidebar">
							<div class="tg-widget tg-search">
								<form asp-action="Shopping" class="form-search">
									<fieldset>
										<input type="text" name="SearchString" placeholder="Search Here" class="form-control" />
										
										<button type="submit"><i class="fa fa-search"></i></button>
									</fieldset>
								</form>
							</div>
							<div class="tg-widget tg-catagories-widget">
								<h3>catagories</h3>
								<ul>
									@{
									 List<Category> cates = ViewBag.Categories;
									}

									@foreach (Category category in cates)
									{
										<li><a asp-area="" asp-controller="Products" asp-action="Shopping"
										   asp-route-CategoryID="@category.CategoryID">
										   <em>@category.CategoryName</em><i>389</i>
									   </a>
										</li>
									}
									
								</ul>
							</div>
							<div class="tg-widget tg-price-widget">
								<h3>filter by price</h3>
								<div class="tg-price-range">
									<div id="tg-slider-range" class="tg-slider-range"></div>
									<p>
										<label for="amount">Price:</label>
										<input type="text" id="amount" readonly>
									</p>
									<a class="tg-btn" href="#">Filter</a>
								</div>
							</div>
							<div class="tg-widget tg-tags-widget">
								<h3>popular tags</h3>
								<ul>
									<li><a class="tg-btn" href="#">Man City</a></li>
									<li><a class="tg-btn" href="#">Barcelona</a></li>
									<li><a class="tg-btn" href="#">Shirts</a></li>
									<li><a class="tg-btn" href="#">blog</a></li>
									<li><a class="tg-btn" href="#">magazine</a></li>
									<li><a class="tg-btn" href="#">soccer</a></li>
								</ul>
							</div>
						</aside>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>