@model SoccerManager.Models.Player

@{
    ViewData["Title"] = "PlayerInfomation";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

<h2>Player Infomation</h2>

<!--************************************
				Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
	<div class="container">
		<div class="row">
			<div id="tg-twocolumns" class="tg-twocolumns tg-main-section tg-haslayout">
				<div class="col-sm-9 col-xs-12 pull-left">
					<div class="tg-player-detail tg-haslayout">
						<div class="tg-player-data tg-haslayout">
							<div class="tg-player-info tg-haslayout">
								<div class="row">
									<div class="col-sm-4 col-xs-12">
										<div class="tg-widget tg-imagewidget">
											<figure>
												<img src="~/images/@ViewBag.PlayerImage" alt="@Model.FullName">
											</figure>
										</div>
									</div>
									<div class="col-sm-8 col-xs-12">
										<div class="tg-playcontent">
											<a href="#" class="tg-theme-tag">SWEEPER</a>
											<h3><a href="#">@Html.DisplayFor(model => model.FullName)</a></h3>
											<span class="tg-stars"><span></span></span>
										</div>
										<ul>
											<li>Nick Name :</li>
											<li>Mayn</li>

											<li>Team :</li>
											<li>Killer Whales</li>

											<li>Birth Date :</li>
											<li>@Html.DisplayFor(model => model.Dob)</li>

											<li>age :</li>
											<li>31 Year old</li>

											<li>Birth Place :</li>
											<li>@Html.DisplayFor(model => model.Pob)</li>

											<li>Height :</li>
											<li>@Html.DisplayFor(model => model.Height)</li>

											<li>Field position :</li>
											<li>@Html.DisplayFor(model => model.Position)</li>

											<li>Current team :</li>
											<li>@Html.DisplayFor(model => model.CurrentTeam)</li>

											<li>Social Networks :</li>
											<li>
												<ul class="tg-socialicons">
													<li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
													<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<!--************************************
		Main End
*************************************-->



